/*- General ------------------------------------------------------------------------------------------*/
* { margin: 0px; padding: 0px; }
hr { display: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
section, header, nav, footer { display: block; }
li { list-style: none inside;}
fieldset, img { border: none; }


body
{
	background-color: #ea4c88;
	color: #f4f4f4;
	font-family: helvetica, arial sans-serif;
	font-size: 12px;
}

a
{
	color: #1446a8;
}

	a:hover
	{
		background-color: #1446a8;
		color: #f4f4f4;
		text-decoration: none;
	}

#content
{
	margin: 0 auto;
	width: 960px;
}
	
	div > header
	{
		border-bottom: 1px solid #ed679a;
		padding: 10px 0 15px 0;
		position: relative;
	}
	
	div > header h1
	{
		font-size: 110px;
		text-shadow: #c9024d 1px 1px 0px;
	}
	
	header p
	{
		font-weight: bold;
		font-size: 20px;
		position: relative;
		top: -10px;
	}

/*- Download Links -----------------------------------------------------------------------------------*/
	
	section#download
	{
		padding: 15px 10px;
		text-align: right;
		font-weight: bold;
		font-size: 16px;
		background-color: rgba(255, 255, 255, 0.1);
	}
	
	section#download a
	{
		background-color: #1446a8;
		color: #f4f4f4;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 4px 11px;
		margin-left: 4px;
		-webkit-box-shadow: #ed679a 1px 1px 1px;
		-moz-box-shadow: #ed679a 1px 1px 1px;
		text-shadow: #092f79 1px 1px 1px;
	}
	
		section#download a i
		{
			font-weight: normal;
		}
	
		section#download a:hover
		{
			background-color: #0a2f78;
		}
		
/*- Footer -------------------------------------------------------------------------------------------*/

footer
{
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0;
}

	footer span
	{
		float: right;
	}
	
/*- Examples -----------------------------------------------------------------------------------------*/

	.feature-examples
	{
		overflow: hidden;
	}
	
section
{
	border-top: 1px solid #c74174;
	border-bottom: 1px solid #ed679a;
	padding: 60px 0;
	vertical-align: top;
	overflow: hidden;
}
	
	section header h1
	{
		font-size: 22px;
	}
	
	section header h2
	{
		color: #fff;
		font-family: courier, monospace;
		font-size: 20px;
		font-weight: normal;
		padding: 8px;
		background-color: rgba(255, 255, 255, 0.1);
		margin: 8px 0 0px 0;
		border: 1px solid #ed679a;
		border-bottom: none;
	}
	
	div.example-usage
	{
		float: left;
		font-size: 16px;
		width: 53%;
	}
	
	div.example-usage.fullsize
	{
		clear: both;
		float: none;
		width: 932px;
	}
	
	div.example-json
	{
		clear: both;
		font-size: 14px;
		padding-top: 10px;
		width: 932px;
	}
	
	#content .jribbble-example
	{
		border: 4px solid #ec5e94;
		margin: 0 !important;
		padding: 10px;
	}
	
	section label
	{
		display: block;
		font-weight: bold;	
		padding-bottom: 10px;
	}
	
	.json-response textarea
	{
		width: 900px;
		padding: 6px;
		background-color: #f4f4f4;
		border-top: 1px solid #c74174;
		border-left: 1px solid #c74174;
		border-bottom: 1px solid #ed679a;
		border-right: 1px solid #ed679a;
	}
	
/*- Method descriptions -----------------------------------------------------------------------------------------*/
	
.method-description
{
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid #ed679a;
	border-top: none;
	font-size: 13px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 14px 10px 5px 10px;
}
	
	.method-description dt
	{
		clear: left;
		float: left;
		font-weight: bold;
		padding-bottom: 30px;
		width: 25%;
	}
	
	.method-description dd
	{
		float: right;
		line-height: 1.2em;
		width: 75%;
		vertical-align: top;
	}

/*- A List of teaser shots ---------------------------------------------------------------------------*/

.teaser-list
{
	overflow: hidden;
	padding: 0px 0 12px 8px;
}

	.teaser-list li
	{
		display: block;
		float: left;
		padding: 4px 12px 12px 12px;
	}
	
	.teaser-list li h3
	{
		font-size: 14px;
	}
	
	.teaser-list li h4
	{
		color: #EBC8D5;
		font-style: italic;
		font-size: 11px;
		font-weight: normal;
		padding: 2px 4px 0 0;
		text-align: right;
	}
	
	.teaser-list li a
	{
		background-color: #fff;
		border: 4px solid #ec5e94;
		display: inline-block;
		height: 150px;
		overflow: hidden;
	}
	
	.teaser-list li a:hover
	{
		border-color: #fff;
	}
	
	.teaser-list a img
	{
		display: block;
	}

/*- A List of players --------------------------------------------------------------------------------*/

.player-list
{
	overflow: hidden;
	padding: 0px 0 12px 4px;
}

	.player-list li
	{
		display: block;
		float: left;
		padding: 8px 12px 12px 12px;
		
	}
	
	.player-list li h3
	{
		font-size: 12px;
		max-width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.player-list li a
	{
		background-color: #fff;
		border: 4px solid #ec5e94;
		display: inline-block;
		height: 80px;
		overflow: hidden;
		text-align: center;
		width: 80px;
	}
	
	.player-list li a:hover
	{
		border-color: #fff;
	}
	
	.player-list a img
	{
		display: block;
		margin: 0 auto;
	}

/*- Shot By ID ---------------------------------------------------------------------------------------*/

#shotById
{
	font-size: 16px;
}

	#shotById h3
	{
		font-size: 18px;
	}
	
	#shotById ul
	{
		padding-bottom: 4px;
	}
	
	#shotById li
	{
		padding: 2px;
	}

/*- Player -------------------------------------------------------------------------------------------*/

#player,
#shotById
{
	background-color: #fff;
	border: 4px solid #ec5e94;
	color: #646464;
	overflow: hidden;
	margin-bottom: 15px;
	padding: 8px;
}
	
	#player a,
	#shotById a
	{
		display: inline-block;
		float: left;
		margin-right: 14px;
	}
	
	#player img,
	#shotById img
	{
		display: block;
	}
	
	#player-url,
	#shot-url
	{
		border: none;
		color: #ea4c88;
		float: none;
		margin-right: none;
	}
	
		#player-url:hover,
		#shot-url:hover
		{
			background-color: #ea4c88;
			color: #fff;
		}
	
	#player h3
	{
		font-size: 14px;
	}
	
	#player ul
	{
		font-size: 12px;
		padding-bottom: 3px;
	}
	
		#player li
		{
			padding: 1px 0;
		}