# Example Apache Proxy
# this allows for cross-domain ajax requests.
# In JS instead of requesting the API URL directly you
# would make all requests to "/api.dribbble"
# That is an arbitrary name, it could be any valid
# URL string that makes sense

<VirtualHost *:80>

	DocumentRoot "/usr/local/apache2/htdocs/dribbble/"
	ServerName jquery.dribbble
	
	ProxyRequests Off
	ProxyPreserveHost Off
	
	#dribbble api
	ProxyPass /api.dribbble/ http://api.dribbble.com/
	ProxyPassReverse /api.dribbble/ http://api.dribbble.com/
	
</VirtualHost>